.root {
  -fx-font-family: fantasy, "Segoe UI Semibold";
  -fx-font-size: 10pt;
}

#status, .text {
  -fx-fill: #a1a1a1;
  /*noinspection CssInvalidFunction*/
  -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.8), 6, 0, 0, 2);
}

#status {
  -fx-text-alignment: right;
}
