.root {
  -fx-font-family: fantasy, "Segoe UI Semibold";
  -fx-font-size: 10pt;
}

#status, .text {
  -fx-fill: #a1a1a1;
  -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.8), 6, 0, 0, 2);
}

.image {
  -fx-border-color: red;
  -fx-border-width: 1px;
}
